<?xml version="1.0" encoding="UTF-8"?>
<configuration>
<system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="contact@gosei.com.vn">
        <network host="localhost" port="25" userName="contact@gosei.com.vn" password="gosei@123" />
      </smtp>
    </mailSettings>
  </system.net>
    <system.webServer>
        <rewrite>
            <rules>
    <rule name="Redirect Image to HTTP" stopProcessing="true">
        <match url=".*\.(gif|jpg|jpeg|png|css|js|svg)$" ignoreCase="true" />
        <action type="Rewrite" url="{R:0}" />
    </rule>
	<rule name="HTTP to HTTPS redirect" stopProcessing="true">
        <match url="(.*)" />
      <conditions>
                        <add input="{HTTPS}" pattern="off" />
      </conditions>
      <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="Temporary" />
    </rule>
            <rule name="WordPress Rule" stopProcessing="true">
                <match url=".*" />
                <conditions>
                    <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                    <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                </conditions>
                <action type="Rewrite" url="index.php" />
            </rule>
			 <rule name="HTTPS force" enabled="true" stopProcessing="true">
 <match url="(.*)" />
 <conditions>
 <add input="{HTTPS}" pattern="^OFF$" />
 </conditions>
 <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" redirectType="Permanent" />
 </rule>

</rules>
        </rewrite>
    </system.webServer>
</configuration>